.header {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */ 
    background-color: #FF9933;
    height: 120px; border-bottom: 2px solid navy; 
    
}

.header h1 {
    color: white;
    font-weight: bold;
    /* You don't need align-items and align-content here */
    text-align: center; /* If you want to center the text horizontally within h1 */
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #138808;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}