.input-text{
    height: 50px;
    width: 300px;
    margin: 5px; 
    border-radius: 10px;
    font-size: large;
}

.main-div {
    display: flex;
    justify-content: space-between; /* Distribute columns evenly */
    padding: 20px; /* Add padding for spacing */
  }
  
  .left-column,
  .right-column {
    flex: 1; /* Grow to occupy available space */
    margin-right: 20px; /* Adjust margin between columns */
  }